/*help adjust the background*/
body{
    width: 100vw;
    height: 100vh;
    background-size: cover; /*to fully cover the screen*/
  }

/*flashing images*/
.flash-img {
  position: absolute;
  top: 40vw;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* to initially hide the images */
  width: 40vw;
  height: 30vw;
}